.logo-background {
    background: white;
    font-family: "italiano", "serif";
    font-size: 25px;
    color: black;
    padding: 1em;
}

.sign {
    background-image: url("../images/logo_colored.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: var(--logo-sign-max-width);
    width: var(--logo-sign-width);
    aspect-ratio: 533/300;
    filter: drop-shadow(2px 2px 2px #00000060);
}

.logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 30px);
    place-content: center;
    place-items: center;
    grid-template-areas: 
    "paperback paperback"
    "paperback paperback"
    "img porch"
    "img porch"
    "img bookstore"
    "img est";
    gap: .2em;
}

#porch {
    grid-area: porch;
    margin-left: -20px;
}

#paperback {
    grid-area: paperback;    
}

#porch, #paperback {
    font-family: "italiano", "serif";
    font-size: 80px;
    font-weight: 400;
    color: black;
}

#est {
    grid-area: est;
    font-size: .6em;
    margin-top: -20px;
}

#bookstore {
    grid-area: bookstore;
    font-size: .8em;
    text-transform: uppercase;
}

#img {
    grid-area: img;
    /* filter: drop-shadow(3px -3px 1px #00000077); */
}

#img svg {
    height: 120px;
    margin-right: 20px;
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
  }

  .left {    
    border-right: 5px solid hsl(229, 35%, 16%);
  }    
}