nav ul {
    display: grid;
    justify-content: stretch;
    padding: 2em;
    gap: 1em;
}

li {
    text-align: center;
    display: grid;
}

.link-btn {
    background-color: var(--shade-dark);
    border: 1px solid var(--color-light);
    color: var(--color-light);
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.link-btn:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.link-btn.active, .link-btn:focus {
    background-color: var(--shade-light);
    color: var(--color-primary);
    border-color: var(--color-primary);
    font-weight: bold;
}