:root {
  --primary-color: hsl(229, 75%, 16%);
  --primary-accent: hsl(7, 92%, 60%);
  --primary-offset: hsl(169, 92%, 10%);
  --secondary-color: #333;
  --mobile: 768px;
}

body {
  font-family: "inter", "sans-serif";
}

main {
    min-height: 200px;
}

ul, li {
    padding: 0;
    margin: 0;
}

.App-link {
  color: #61dafb;
}

input {
  padding: 0.5em;
  background: #00000050;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: .5em 1em;
}

input::placeholder {
  color: rgb(235, 235, 235);
}

input:focus {
  outline: none;
}

button {
  padding: 0.5em 1em;
  color: #ffffff;
  background: var(--primary-accent);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 10px;
  font-weight: bold;
  padding: 0.3em 0.6em;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--primary-color);
}

button:active {
  color: white;
}

button:focus {
  outline: none;
}

button:disabled {
  background: #ffffff;
  color: #333;
  cursor: not-allowed;
}

button:disabled:hover {
  background: #ffffff;
}

button:disabled:active {
  background: #ffffff;
}

button:disabled:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
    
}
