header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    height: var(--header-height);
    box-sizing: border-box;
    gap: .5rem;
    color: rgb(54, 54, 54);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f5f5f5;
}

header svg {
    height: 20px;
    width: 20px;
}

header .search {
    flex-grow: 1;
}

.user-menu {
    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    header {
        gap: 1rem;
    }    
    header svg {
        height: 24px;
        width: 24px;
    }    
}